/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

html { font-size: 80%; } 

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  font-size: 4rem;
  color: white;
}

.interactive {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containers {
  min-width: 100%;
  padding: 1rem;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#myContainer {
  height: 100%;
  z-index: -1;
}

.coverHolder {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.coverText {
  width: 100%;
  padding: 5%;
  background:  rgba(0,0,0,0.2);
  font-family: monospace;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: black; 
  border: 0.1rem blue solid;
  color: white; 
}

.button1:hover {
  background-color: blue;
  border: 0.1rem white solid;
  color: white;
}

.webpage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentHolder {
  background-color: blue;
  height: auto;
  width: 100%;
}

.header {
  display: inline-block;
  width: 100%;
}

.header h1 {
  padding-left: 1rem;
}

.content-text {
  background-color: antiquewhite;
  height: auto;
  display: inline-flex;
  background-color: white;
  justify-content: center;
}

p {
  height: 100%;
  font-size: 1.5rem;
  width: 60%;
  padding: 1rem;
  color: black;
  text-align: justify;
  font-family: sans-serif;
}

.whiteText {
  color: white;
  padding: 0.5rem;
  text-align: center;
}

.blackText {
  color: black;
  text-align: center;
}

.greyText {
  color: #808080 !important;
}

.progressBarHolder {
  height: 20px;
  width: 70%;
  background-color: #ddd;
}

.progressBar {
  height: 20px;
  width: 40%;
  background-color: red;
}

.alignCenter {
  text-align: center !important;
  padding: 0.5rem;
}

.text-size-2 {
  font-size: 1.5rem;
}

.size100 {
  width: 100%;
}

.alignRight {
  float: right;
}

.comingSoon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
}

footer {
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: #009933;
  margin-top: 2rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .flex-grid-thirds {
    display: inline-block;
    justify-content: space-between;
    padding: 3rem;
  }
  .col {
    min-width: 90%;
    text-align: center;
  }  
}

@media only screen and (min-width: 600px) {
  .flex-grid-thirds {
    display: inline-block;
    justify-content: space-between;
    padding: 3rem;
  }
  .col {
    min-width: 96%;
    text-align: center;
  }
}

@media only screen and (min-width: 800px) {
  .flex-grid-thirds {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
    flex-wrap: wrap;
    
  }
  .col {
    min-width: 48%;
    text-align: center;
    min-height: 300px;
    margin-top: 1rem;
  }
}


@media only screen and (min-width: 1000px) {
  .flex-grid-thirds {
    display: flex;
    flex-direction: row;
    justify-content: space-between center;;
    padding: 4rem;
    flex-wrap: nowrap;
  }
  .col {
    min-width: 33%;
    text-align: center;
    margin-top: 0rem;
  }
}

.width80 {
  width: 80%;
}

.marginTop-small {
  margin-top: 1.5rem;
}

.card {
  max-width: 300px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.titleRepo {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
  size: 1.2rem;
}

.textRepo{
    padding: 0.8rem;
    font-size: 1.1rem;
    text-align: justify;
    color: black;
}

.linkRepo {
    border: none;
    outline: 0;
    color: white !important;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
